<a id="item31"></a>

# 201 - Build a Regression Model in Keras

## Load Libs

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [3]:
import keras
from keras.layers import Dense
from keras.models import Sequential

Using TensorFlow backend.

## Load dataset

In [4]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

#### Let's check how many data points we have.

In [5]:
concrete_data.shape

(1030, 9)

In [6]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [7]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

#### Split data into predictors and target

In [8]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [9]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [10]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [11]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

<a id="item1"></a>

<a id='item32'></a>

## Train Test Split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (721, 8) (721,)
Test set: (309, 8) (309,)

<a id='item33'></a>

## Build a Neural Network

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [14]:
# build the model
model = regression_model()

In [15]:
# fit the model
model.fit(X_train, y_train, epochs=50, verbose=1)

Epoch 1/50
721/721 [==============================] - 1s 711us/step - loss: 240076.9093
Epoch 2/50
721/721 [==============================] - 0s 227us/step - loss: 75463.8873
Epoch 3/50
721/721 [==============================] - 0s 122us/step - loss: 18231.5802
Epoch 4/50
721/721 [==============================] - 0s 132us/step - loss: 6209.7440
Epoch 5/50
721/721 [==============================] - 0s 238us/step - loss: 4906.0431
Epoch 6/50
721/721 [==============================] - 0s 106us/step - loss: 4714.3798
Epoch 7/50
721/721 [==============================] - 0s 212us/step - loss: 4541.3877
Epoch 8/50
721/721 [==============================] - 0s 163us/step - loss: 4353.7376
Epoch 9/50
721/721 [==============================] - 0s 184us/step - loss: 4178.5972
Epoch 10/50
721/721 [==============================] - 0s 203us/step - loss: 3994.0330
Epoch 11/50
721/721 [==============================] - 0s 168us/step - loss: 3815.0695
Epoch 12/50
721/721 [==============================] - 0s 211us/step - loss: 3646.3107
Epoch 13/50
721/721 [==============================] - 0s 225us/step - loss: 3474.4890
Epoch 14/50
721/721 [==============================] - 0s 187us/step - loss: 3315.9587
Epoch 15/50
721/721 [==============================] - 0s 255us/step - loss: 3163.9539
Epoch 16/50
721/721 [==============================] - 0s 242us/step - loss: 3013.4757
Epoch 17/50
721/721 [==============================] - 0s 271us/step - loss: 2876.2141
Epoch 18/50
721/721 [==============================] - 0s 161us/step - loss: 2738.7601
Epoch 19/50
721/721 [==============================] - 0s 182us/step - loss: 2615.9741
Epoch 20/50
721/721 [==============================] - 0s 250us/step - loss: 2489.6161
Epoch 21/50
721/721 [==============================] - 0s 138us/step - loss: 2376.5474
Epoch 22/50
721/721 [==============================] - 0s 156us/step - loss: 2271.0091
Epoch 23/50
721/721 [==============================] - 0s 138us/step - loss: 2176.5737
Epoch 24/50
721/721 [==============================] - 0s 172us/step - loss: 2079.0266
Epoch 25/50
721/721 [==============================] - 0s 165us/step - loss: 1996.4000
Epoch 26/50
721/721 [==============================] - 0s 72us/step - loss: 1914.0923
Epoch 27/50
721/721 [==============================] - 0s 106us/step - loss: 1837.6879
Epoch 28/50
721/721 [==============================] - 0s 72us/step - loss: 1767.9238
Epoch 29/50
721/721 [==============================] - 0s 128us/step - loss: 1704.0698
Epoch 30/50
721/721 [==============================] - 0s 101us/step - loss: 1635.6363
Epoch 31/50
721/721 [==============================] - 0s 101us/step - loss: 1577.1564
Epoch 32/50
721/721 [==============================] - 0s 144us/step - loss: 1523.3060
Epoch 33/50
721/721 [==============================] - 0s 155us/step - loss: 1478.5433
Epoch 34/50
721/721 [==============================] - 0s 209us/step - loss: 1418.0308
Epoch 35/50
721/721 [==============================] - 0s 221us/step - loss: 1373.7321
Epoch 36/50
721/721 [==============================] - 0s 176us/step - loss: 1331.3379
Epoch 37/50
721/721 [==============================] - 0s 79us/step - loss: 1291.1460
Epoch 38/50
721/721 [==============================] - 0s 132us/step - loss: 1249.4357
Epoch 39/50
721/721 [==============================] - 0s 172us/step - loss: 1207.3251
Epoch 40/50
721/721 [==============================] - 0s 146us/step - loss: 1172.2465
Epoch 41/50
721/721 [==============================] - 0s 77us/step - loss: 1138.3365
Epoch 42/50
721/721 [==============================] - 0s 93us/step - loss: 1106.5281
Epoch 43/50
721/721 [==============================] - 0s 118us/step - loss: 1074.8219
Epoch 44/50
721/721 [==============================] - 0s 195us/step - loss: 1043.3463
Epoch 45/50
721/721 [==============================] - 0s 121us/step - loss: 1016.6453
Epoch 46/50
721/721 [==============================] - 0s 177us/step - loss: 989.4932
Epoch 47/50
721/721 [==============================] - 0s 196us/step - loss: 961.5572
Epoch 48/50
721/721 [==============================] - 0s 155us/step - loss: 935.8660
Epoch 49/50
721/721 [==============================] - 0s 130us/step - loss: 910.3501
Epoch 50/50
721/721 [==============================] - 0s 189us/step - loss: 888.4237

In [16]:
y_predicted = model.predict(X_test)

In [17]:
mean_squared_error(y_test, y_predicted)

895.9220031387371

In [18]:
%%time

# Applying 50 times to calculate mean and std

mean_squared_errors = []
for _ in range(50):
    model = regression_model()
    model.fit(X_train, y_train, epochs=50, verbose=0)
    y_predicted = model.predict(X_test)
    mse = mean_squared_error(y_test, y_predicted)
    mean_squared_errors.append(mse)

CPU times: user 4min 19s, sys: 27.6 s, total: 4min 47s
Wall time: 6min 51s

In [19]:
print('mean and the standard deviation of the mean squared errors - mean: {} and std: {}'.format(np.mean(mean_squared_errors), np.std(mean_squared_errors)))

mean and the standard deviation of the mean squared errors - mean: 416.3128688108265 and std: 495.76421892211886